<h1>Contact Aidotech</h1>
<hr/>
<p>Ce message a été envoyé depuis la plateforme Aidotech</p>
<p>De la part de {{ nom }} {{ prenom }}</p>
<p>Email du contact : {{ email }}</p>
<h3>Message : </h3>
<p>{{ message }}</p>