{% extends "AidotechCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - contact
{% endblock %}

{% block body %}

<div>
  <h1>Formulaire de contact</h1>
  <hr />
  {% form_theme contactForm 'bootstrap_3_horizontal_layout.html.twig' %}
  {{ form_start(contactForm) }}
  {{ form_widget(contactForm) }}
  {{ form_end(contactForm) }}
{% endblock %}