{% extends "AidotechCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - contact
{% endblock %}

{% block body %}
  <h1>Formulaire de contact</h1>
  <hr />
  {{ include("AidotechCoreBundle:Form:ContactForm.html.twig") }}
{% endblock %}